{% extends 'index.html' %}
{% load crispy_forms_tags %}


{% block title %}
Agregar provincia
{% endblock title %}

{% block body %}

        <div class="col-auto text-center  " id="activar_prov">
            <div class="container">
                <div class="well" id="pa-cambiar">
                    <h1>Activar Provincia</h1>
                </div>

                <br>

                <div class="formu">
                    <form method="POST">

                        <br>
                        <div class="form-group">
                            {% csrf_token %}
                            {% if error %}
                            <h2>{{ error }}</h2>
                            {% else %}
                            <!--{{form.as_p}}-->
                            <div  class="mx-auto" style="width: 300px;">
                                {{form|crispy}}
                            </div>
                            <button type="submit" class="btn btn-success btn-lg">Crear</button>
                            <!--<a type="button" class="btn btn-primary btn-lg" href="{% url 'farmacia:lista_prov_desactivadas' %}">Cancelar</a>-->
                            <a type="button" class="btn btn-primary btn-lg"
                                href="{% url 'farmacia:listar_provincias' %}">Cancelar</a>

                            {% endif %}
                        </div> <!-- Pintar html en sintaxis de Django-->
                    </form>

                </div>
            </div>
        </div>
    
{% endblock body %}
</main>
</body>

</html>