{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
            ejecución
        {% endblock titulo %}
    </title>
</head>
<body>
<main>
    {% block body %}
        {% extends 'base.html' %}
            <h2>formuilario de ejecucion</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <button type="submit">ejecutar</button>
                <a href="{% url 'index' %}">cancelar</a>
            </form>
    {% endblock body %}
</main>    
</body>
</html>