{% extends 'index.html' %}
<!doctype html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        lista-ciudades
        {% endblock titulo %}
        </title>
</head>

<body>
    <main>
        {% block body %}

        <div class="container">
            {% for loc in localidad|slice:"1" %}
                <h2 style="text-align: center;">Lista de Ciudades de {{loc.id_provincia_id.descripcion}}</h2>
            {% endfor %}
            {% if localidad %}
            <div class="table-responsive-sm">

                <a href="{% url 'farmacia:localidades_desactivadas' %}"><button class="btn btn-success">Activar
                        Localidad</button></a>
                <a href="{% url 'farmacia:agregar_localidad' %}"><button class="btn btn-success">Agregar
                        Localidad</button></a>
                <a href="{% url 'farmacia:listar_provincias' %}"><button type="submit"
                        class="btn btn-primary">Volver</button></a>

                <br>
                <br>
                <table class="table table-light table-striped table-hover">
                    <thead>

                        <tr style="text-align: center;">

                            <th>ID de la Ciudad</th>
                            <th>Nombre de la Ciudad</th>
                            <th>Opciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for loc in localidad %}
                        {% if loc.estado == 1 %} 
                        <tr style="text-align: center;">
                            <td>{{loc.id_localidad}}</td>
                            <td>{{loc.descripcion}}</td>
                            <td>
                                <a class="btn btn-dark" href="{% url 'farmacia:lista_farmacias' %}?lang={{loc.id_localidad}}">Farmacias</a>
                                <a class="btn btn-danger" href="{% url 'farmacia:activar_localidad' loc.id_localidad %}"> Desactivar</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <h2>No hay Ciudades para mostrar</h2>
            {% endif %}
        </div>
        {% endblock body %}
        </div>
    </main>
</body>
</html>