{% extends 'index.html' %}
<!doctype html>
{% load static %}
{% load mathfilters %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        lista-farmacias 2.0
        {% endblock titulo %}
    </title>
</head>

<body>
    <main>
        {% block body %}
        <div class="container">
            <div>
                <br>
                <h1 style="text-align: center;font-size: 40px; ">Lista de Farmacias</h1>
                <br>
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-md-9">
                    <form action="{% url 'farmacia:buscar_fcia' %}" method="GET">
                        {% csrf_token %}
                        <div class="input-group col-sm-18">
                            <input type="text" class="form-control" placeholder="Buscar" name="q">
                            <span class="input-gruop-list">
                                <button type="submit" class="btn btn-info"><i class="fas fa-search fa-sm"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="table-responsive-sm">
                <table class="table table-light  border-top-0 border-white border border-2 ">
                    {% for prov in provincias %}
                    {% if prov.estado == 1 %}
                    <thead class="table-hover ">
                        <tr class="bg-info table-info">
                            <th></th>
                            <th></th>
                            <th style="font-size: 40px;">Provincia: {{prov.descripcion}}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-hover ">
                        {% for loc in localidades %}
                        {% if loc.id_provincia_id_id == prov.id_provincia %}
                        <tr class="table-secondary table-success">
                            <th></th>
                            <th style="font-size: 30px; font-weight: bold">{{loc.descripcion}}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr style="font-weight: 700;" class="table-secondary table-bordered border-dark">
                            <td>ID</td>
                            <td>nombre</td>
                            <td>dirección</td>
                            <td>IP</td>
                            <td>Detalle</td>
                            <td>PCs</td>
                        </tr>
                        {% for fcia in farmacias %}
                        {% if fcia.id_localidad_id == loc.id_localidad %}
                        <tr class="table-bordered">
                            <td>{{fcia.id_farmacia}}</td>
                            <td>{{fcia.nombre_facia}}</td>
                            <td>{{fcia.direccion}}</td>
                            <td>{{fcia.ip}}</td>
                            <td> <a class="button" href="{% url 'farmacia:especif_pc' %}?lang={{fcia.id_farmacia}}">
                                    <span class="fas fa-poll-h"></span>
                                </a></td>
                            <td>
                                <a class="button"
                                    href="{% url 'farmacia:especificacion_pc' %}?lang={{fcia.id_farmacia}}">
                                    <span class="fas fa-desktop"></span>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock body %}
    </main>
</body>

</html>