

h2{
  color: blue;
  text-align: center;
  /* margin-bottom: 100px; */
}

.main-head{
  height: 150px;
  background: #FFF;
 
}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  /*padding-top: 20px;*/
  
}

/*
.main {
  padding: 0px 50px;
  
}*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 70%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{

      margin-top: 30%;
      margin-left: 60%;
      
  }

  .register-form{
      margin-top: 30%;
  }
}


.login-main-text{
  margin-top: 20%;
  margin-right: 15%;
  padding-left: 220px;
  color: rgb(255, 0, 0);
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255);
}




/*clase navbar*/

.navbar{
  background-color: rgb(49, 48, 48);
}

li{
  margin: 30px;
}

#cuerpo{
  background-color: rgb(180, 241, 251);
}

.formu{
  margin: 50px;
}